USE [master]
GO
/****** Object:  Database [TodoMato]    Script Date: 08/24/2015 18:01:53 ******/
CREATE DATABASE [TodoMato] ON  PRIMARY 
( NAME = N'TodoMato', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\TodoMato.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TodoMato_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\TodoMato_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoMato].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoMato]
GO
/****** Object:  Table [dbo].[Todo]    Script Date: 08/24/2015 18:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Todo](
	[TodoID] [char](36) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[NeedTomato] [int] NULL,
	[DoneTomato] [int] NULL,
	[IsFinish] [bit] NULL,
	[Creator] [char](36) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Updator] [char](36) NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_Todo] PRIMARY KEY CLUSTERED 
(
	[TodoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 08/24/2015 18:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tag](
	[TagID] [char](36) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Member]    Script Date: 08/24/2015 18:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [nchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tomato]    Script Date: 08/24/2015 18:01:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tomato](
	[TomatoID] [char](36) NOT NULL,
	[TodoID] [char](36) NOT NULL,
	[SpentTime] [nchar](10) NULL,
	[CreateTime] [nchar](10) NULL,
	[FinishTime] [nchar](10) NULL,
 CONSTRAINT [PK_Tomato] PRIMARY KEY CLUSTERED 
(
	[TomatoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_Tomato_Todo]    Script Date: 08/24/2015 18:01:54 ******/
ALTER TABLE [dbo].[Tomato]  WITH CHECK ADD  CONSTRAINT [FK_Tomato_Todo] FOREIGN KEY([TodoID])
REFERENCES [dbo].[Todo] ([TodoID])
GO
ALTER TABLE [dbo].[Tomato] CHECK CONSTRAINT [FK_Tomato_Todo]
GO
